In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
spark=SparkSession.builder.appName("Ass1.1").config("spark.sql.shuffle.partitions","2").getOrCreate()

24/12/24 13:34:13 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
# #create spark session (Object of Spark)

# spark=SparkSession.builder.appName("Ass1").config("spark.sql.shuffle.partitions","2")\
#                    .getOrCreate()

In [5]:
# give option("header",True) if csv file contain header line
empSchema='empno int,ename string,job string,mgr int,hire date,sal double,comm double,deptno int'
df=spark.read.schema(empSchema).csv('emp.csv')

In [6]:
df.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: integer (nullable = true)
 |-- hire: date (nullable = true)
 |-- sal: double (nullable = true)
 |-- comm: double (nullable = true)
 |-- deptno: integer (nullable = true)

In [7]:
df.show()

+-----+------+---------+----+----------+------+------+------+
|empno| ename|      job| mgr|      hire|   sal|  comm|deptno|
+-----+------+---------+----+----------+------+------+------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|  NULL|    20|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.0|    30|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.0|    30|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|  NULL|    20|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.0|    30|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|  NULL|    30|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|  NULL|    10|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|  NULL|    20|
| 7839|  KING|PRESIDENT|NULL|1981-11-17|5000.0|  NULL|    10|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.0|    30|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|  NULL|    20|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|  NULL|    30|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|  NULL|    20|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|  NULL|    10|
+-----+------+---------+----+----------+------+------+------+

In [8]:
re=df.withColumn("TottalSal",expr("sal + ifnull(comm,0)"))
re.show()

+-----+------+---------+----+----------+------+------+------+---------+
|empno| ename|      job| mgr|      hire|   sal|  comm|deptno|TottalSal|
+-----+------+---------+----+----------+------+------+------+---------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|  NULL|    20|    800.0|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.0|    30|   1900.0|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.0|    30|   1750.0|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|  NULL|    20|   2975.0|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.0|    30|   2650.0|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|  NULL|    30|   2850.0|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|  NULL|    10|   2450.0|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|  NULL|    20|   3000.0|
| 7839|  KING|PRESIDENT|NULL|1981-11-17|5000.0|  NULL|    10|   5000.0|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.0|    30|   1500.0|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|  NULL|    20|   1100.0|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|  NULL|    30|    950.0|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|  NULL|    20|   3000.0|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|  NULL|    10|   1300.0|
+-----+------+---------+----+----------+------+------+------+---------+

In [9]:
re=re.groupBy("deptno","job")\
      .agg(sum('sal'),min('sal'),max('sal'),avg("sal"),sum("TottalSal"))

In [10]:
re.show()

+------+---------+--------+--------+--------+--------+--------------+
|deptno|      job|sum(sal)|min(sal)|max(sal)|avg(sal)|sum(TottalSal)|
+------+---------+--------+--------+--------+--------+--------------+
|    30| SALESMAN|  5600.0|  1250.0|  1600.0|  1400.0|        7800.0|
|    20|    CLERK|  1900.0|   800.0|  1100.0|   950.0|        1900.0|
|    20|  MANAGER|  2975.0|  2975.0|  2975.0|  2975.0|        2975.0|
|    30|  MANAGER|  2850.0|  2850.0|  2850.0|  2850.0|        2850.0|
|    10|  MANAGER|  2450.0|  2450.0|  2450.0|  2450.0|        2450.0|
|    20|  ANALYST|  6000.0|  3000.0|  3000.0|  3000.0|        6000.0|
|    10|PRESIDENT|  5000.0|  5000.0|  5000.0|  5000.0|        5000.0|
|    30|    CLERK|   950.0|   950.0|   950.0|   950.0|         950.0|
|    10|    CLERK|  1300.0|  1300.0|  1300.0|  1300.0|        1300.0|
+------+---------+--------+--------+--------+--------+--------------+

In [11]:
emp=spark.read.schema(empSchema).csv('emp.csv')
emp.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: integer (nullable = true)
 |-- hire: date (nullable = true)
 |-- sal: double (nullable = true)
 |-- comm: double (nullable = true)
 |-- deptno: integer (nullable = true)

In [12]:
emp.show()

+-----+------+---------+----+----------+------+------+------+
|empno| ename|      job| mgr|      hire|   sal|  comm|deptno|
+-----+------+---------+----+----------+------+------+------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|  NULL|    20|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.0|    30|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.0|    30|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|  NULL|    20|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.0|    30|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|  NULL|    30|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|  NULL|    10|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|  NULL|    20|
| 7839|  KING|PRESIDENT|NULL|1981-11-17|5000.0|  NULL|    10|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.0|    30|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|  NULL|    20|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|  NULL|    30|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|  NULL|    20|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|  NULL|    10|
+-----+------+---------+----+----------+------+------+------+

In [13]:
deptSchema="deptno int,dname string,city string"
dept=spark.read.schema(deptSchema).csv('dept.csv')

In [14]:
dept.printSchema()

root
 |-- deptno: integer (nullable = true)
 |-- dname: string (nullable = true)
 |-- city: string (nullable = true)

In [15]:
dept.show()

+------+----------+--------+
|deptno|     dname|    city|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
|    20|  RESEARCH|  DALLAS|
|    30|     SALES| CHICAGO|
|    40|OPERATIONS|  BOSTON|
+------+----------+--------+

In [16]:
j1=emp.join(dept,emp.deptno==dept.deptno)

In [17]:
j1.show()

+-----+------+---------+----+----------+------+------+------+------+----------+--------+
|empno| ename|      job| mgr|      hire|   sal|  comm|deptno|deptno|     dname|    city|
+-----+------+---------+----+----------+------+------+------+------+----------+--------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|  NULL|    20|    20|  RESEARCH|  DALLAS|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.0|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.0|    30|    30|     SALES| CHICAGO|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|  NULL|    20|    20|  RESEARCH|  DALLAS|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.0|    30|    30|     SALES| CHICAGO|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|  NULL|    30|    30|     SALES| CHICAGO|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|  NULL|    10|    10|ACCOUNTING|NEW YORK|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|  NULL|    20|    20|  RESEARCH|  DALLAS|
| 7839|  KING|PRESIDENT|NULL|1981-11-17|5000.0|  NULL|    10|    10|ACCOUNTING|NEW YORK|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.0|    30|    30|     SALES| CHICAGO|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|  NULL|    20|    20|  RESEARCH|  DALLAS|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|  NULL|    30|    30|     SALES| CHICAGO|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|  NULL|    20|    20|  RESEARCH|  DALLAS|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|  NULL|    10|    10|ACCOUNTING|NEW YORK|
+-----+------+---------+----+----------+------+------+------+------+----------+--------+

In [18]:
j2=emp.join(dept,'deptno')
j2.show()

+------+-----+------+---------+----+----------+------+------+----------+--------+
|deptno|empno| ename|      job| mgr|      hire|   sal|  comm|     dname|    city|
+------+-----+------+---------+----+----------+------+------+----------+--------+
|    20| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|  NULL|  RESEARCH|  DALLAS|
|    30| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.0|     SALES| CHICAGO|
|    30| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.0|     SALES| CHICAGO|
|    20| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|  NULL|  RESEARCH|  DALLAS|
|    30| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.0|     SALES| CHICAGO|
|    30| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|  NULL|     SALES| CHICAGO|
|    10| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|  NULL|ACCOUNTING|NEW YORK|
|    20| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|  NULL|  RESEARCH|  DALLAS|
|    10| 7839|  KING|PRESIDENT|NULL|1981-11-17|5000.0|  NULL|ACCOUNTING|NEW YORK|
|    30| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.0|     SALES| CHICAGO|
|    20| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|  NULL|  RESEARCH|  DALLAS|
|    30| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|  NULL|     SALES| CHICAGO|
|    20| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|  NULL|  RESEARCH|  DALLAS|
|    10| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|  NULL|ACCOUNTING|NEW YORK|
+------+-----+------+---------+----+----------+------+------+----------+--------+

In [19]:
# Getting Department wise total Salary
emp.groupBy('deptno').sum('sal').show()

+------+--------+
|deptno|sum(sal)|
+------+--------+
|    10|  8750.0|
|    20| 10875.0|
|    30|  9400.0|
+------+--------+

In [20]:
# Getting Job wise Total Salary
emp.groupBy('JOB').sum('sAl').show()

+---------+--------+
|      JOB|sum(sAl)|
+---------+--------+
|    CLERK|  4150.0|
| SALESMAN|  5600.0|
|  MANAGER|  8275.0|
|PRESIDENT|  5000.0|
|  ANALYST|  6000.0|
+---------+--------+

In [21]:
emp.groupBy('deptno').sum('sal').withColumnRenamed('sum(sAl)',"TotalSal")\
    .join(dept,'deptno').select('dname','TotalSal').show()

+----------+--------+
|     dname|TotalSal|
+----------+--------+
|ACCOUNTING|  8750.0|
|  RESEARCH| 10875.0|
|     SALES|  9400.0|
+----------+--------+

In [64]:
#loading Movies Data 
# movie=spark.read

In [91]:
ratingpath="/Users/shreyashhagwane/Documents/Python/Data_Science/Spark/movies/ratings.csv"
# ratingSchema="userId int,movieId int,rating double,timestamp timestamp"
# rating=spark.read.schema(ratingSchema).option("header",True).csv(ratingpath)
 # the above code does not work


rating=spark.read.option("header",True).option("inferSchema",True).csv(ratingpath)

In [54]:
rating.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [55]:
rating.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|     31|   2.5|1260759144|
|     1|   1029|   3.0|1260759179|
|     1|   1061|   3.0|1260759182|
|     1|   1129|   2.0|1260759185|
|     1|   1172|   4.0|1260759205|
|     1|   1263|   2.0|1260759151|
|     1|   1287|   2.0|1260759187|
|     1|   1293|   2.0|1260759148|
|     1|   1339|   3.5|1260759125|
|     1|   1343|   2.0|1260759131|
|     1|   1371|   2.5|1260759135|
|     1|   1405|   1.0|1260759203|
|     1|   1953|   4.0|1260759191|
|     1|   2105|   4.0|1260759139|
|     1|   2150|   3.0|1260759194|
|     1|   2193|   2.0|1260759198|
|     1|   2294|   2.0|1260759108|
|     1|   2455|   2.5|1260759113|
|     1|   2968|   1.0|1260759200|
|     1|   3671|   3.0|1260759117|
+------+-------+------+----------+
only showing top 20 rows

In [63]:
# course_df5 has all the column datatypes as string 

# spark.sql(''' 
# SELECT  
#   Name, 
#   Course_Name, 
#   INT(Duration_Months), 
#   FLOAT(Course_Fees), 
#   DATE(Start_Date), 
#   BOOLEAN(Payment_Done) 
# FROM course_view 
# ''') 

rating.createOrReplaceTempView("temp_v") 

temp = spark.sql(''' 
Select from_unixtime(timestamp) tt from temp_v
''') 

temp.printSchema()

root
 |-- tt: string (nullable = true)

In [64]:
temp.show()

+-------------------+
|                 tt|
+-------------------+
|2009-12-14 08:22:24|
|2009-12-14 08:22:59|
|2009-12-14 08:23:02|
|2009-12-14 08:23:05|
|2009-12-14 08:23:25|
|2009-12-14 08:22:31|
|2009-12-14 08:23:07|
|2009-12-14 08:22:28|
|2009-12-14 08:22:05|
|2009-12-14 08:22:11|
|2009-12-14 08:22:15|
|2009-12-14 08:23:23|
|2009-12-14 08:23:11|
|2009-12-14 08:22:19|
|2009-12-14 08:23:14|
|2009-12-14 08:23:18|
|2009-12-14 08:21:48|
|2009-12-14 08:21:53|
|2009-12-14 08:23:20|
|2009-12-14 08:21:57|
+-------------------+
only showing top 20 rows

In [76]:
# ALTERNATE WAY TO CHANGE THE DATATYPE OF COLUMN IN SPARK

rating.selectExpr("from_unixtime(timestamp) as Time").select("Time").show()

+-------------------+
|               Time|
+-------------------+
|2009-12-14 08:22:24|
|2009-12-14 08:22:59|
|2009-12-14 08:23:02|
|2009-12-14 08:23:05|
|2009-12-14 08:23:25|
|2009-12-14 08:22:31|
|2009-12-14 08:23:07|
|2009-12-14 08:22:28|
|2009-12-14 08:22:05|
|2009-12-14 08:22:11|
|2009-12-14 08:22:15|
|2009-12-14 08:23:23|
|2009-12-14 08:23:11|
|2009-12-14 08:22:19|
|2009-12-14 08:23:14|
|2009-12-14 08:23:18|
|2009-12-14 08:21:48|
|2009-12-14 08:21:53|
|2009-12-14 08:23:20|
|2009-12-14 08:21:57|
+-------------------+
only showing top 20 rows

In [94]:
# Replacing the timestamp with new Timestamp with Datatype as TimeStamp
newrating=rating.withColumn("TimeStamp",expr("from_unixtime(timestamp)"))\
             .withColumn("Year",expr("year(TimeStamp)"))

In [97]:
newrating.show()

+------+-------+------+-------------------+----+
|userId|movieId|rating|          TimeStamp|Year|
+------+-------+------+-------------------+----+
|     1|     31|   2.5|2009-12-14 08:22:24|2009|
|     1|   1029|   3.0|2009-12-14 08:22:59|2009|
|     1|   1061|   3.0|2009-12-14 08:23:02|2009|
|     1|   1129|   2.0|2009-12-14 08:23:05|2009|
|     1|   1172|   4.0|2009-12-14 08:23:25|2009|
|     1|   1263|   2.0|2009-12-14 08:22:31|2009|
|     1|   1287|   2.0|2009-12-14 08:23:07|2009|
|     1|   1293|   2.0|2009-12-14 08:22:28|2009|
|     1|   1339|   3.5|2009-12-14 08:22:05|2009|
|     1|   1343|   2.0|2009-12-14 08:22:11|2009|
|     1|   1371|   2.5|2009-12-14 08:22:15|2009|
|     1|   1405|   1.0|2009-12-14 08:23:23|2009|
|     1|   1953|   4.0|2009-12-14 08:23:11|2009|
|     1|   2105|   4.0|2009-12-14 08:22:19|2009|
|     1|   2150|   3.0|2009-12-14 08:23:14|2009|
|     1|   2193|   2.0|2009-12-14 08:23:18|2009|
|     1|   2294|   2.0|2009-12-14 08:21:48|2009|
|     1|   2455|   2.5|2009-12-14 08:21:53|2009|
|     1|   2968|   1.0|2009-12-14 08:23:20|2009|
|     1|   3671|   3.0|2009-12-14 08:21:57|2009|
+------+-------+------+-------------------+----+
only showing top 20 rows

In [100]:
newrating.groupby('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|2009| 3432|
|1996| 6239|
|1999| 5901|
|2004| 4658|
|2003| 4463|
|2016| 6225|
|2010| 2520|
|1998| 1825|
|2011| 4449|
|2000|13869|
|2006| 7493|
|2005| 7161|
|2014| 2224|
|2012| 3850|
|2001| 4658|
|2002| 3937|
|2007| 1548|
|2013| 1969|
|2015| 6610|
|2008| 3676|
+----+-----+
only showing top 20 rows

In [102]:
# getting movies data
moviepath="/Users/shreyashhagwane/Documents/Python/Data_Science/Spark/movies/movies.csv"
movieSchema="movieId int,title string,genres string"
movie=spark.read.schema(movieSchema).option("header",True).csv(moviepath)

In [104]:
movie.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [105]:
movie.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [106]:
newrating.first()

Row(userId=1, movieId=31, rating=2.5, TimeStamp='2009-12-14 08:22:24', Year=2009)

In [107]:
newrating.createOrReplaceTempView("rating_v")

temp=spark.sql("Select month(TimeStamp) Mon,count(rating) from rating_v group by Mon")

In [108]:
# no. movies rating per month
temp.show()

+---+-------------+
|Mon|count(rating)|
+---+-------------+
| 12|         9693|
|  2|         6921|
| 10|         8126|
|  4|         9388|
|  5|         8416|
|  6|         8869|
|  3|         7243|
| 11|        11331|
|  8|         8640|
|  9|         6029|
|  7|         7653|
|  1|         7695|
+---+-------------+

In [109]:
newrating.show()

+------+-------+------+-------------------+----+
|userId|movieId|rating|          TimeStamp|Year|
+------+-------+------+-------------------+----+
|     1|     31|   2.5|2009-12-14 08:22:24|2009|
|     1|   1029|   3.0|2009-12-14 08:22:59|2009|
|     1|   1061|   3.0|2009-12-14 08:23:02|2009|
|     1|   1129|   2.0|2009-12-14 08:23:05|2009|
|     1|   1172|   4.0|2009-12-14 08:23:25|2009|
|     1|   1263|   2.0|2009-12-14 08:22:31|2009|
|     1|   1287|   2.0|2009-12-14 08:23:07|2009|
|     1|   1293|   2.0|2009-12-14 08:22:28|2009|
|     1|   1339|   3.5|2009-12-14 08:22:05|2009|
|     1|   1343|   2.0|2009-12-14 08:22:11|2009|
|     1|   1371|   2.5|2009-12-14 08:22:15|2009|
|     1|   1405|   1.0|2009-12-14 08:23:23|2009|
|     1|   1953|   4.0|2009-12-14 08:23:11|2009|
|     1|   2105|   4.0|2009-12-14 08:22:19|2009|
|     1|   2150|   3.0|2009-12-14 08:23:14|2009|
|     1|   2193|   2.0|2009-12-14 08:23:18|2009|
|     1|   2294|   2.0|2009-12-14 08:21:48|2009|
|     1|   2455|   2.5|2009-12-14 08:21:53|2009|
|     1|   2968|   1.0|2009-12-14 08:23:20|2009|
|     1|   3671|   3.0|2009-12-14 08:21:57|2009|
+------+-------+------+-------------------+----+
only showing top 20 rows

In [137]:
# >>> df.join(df2, df.name == df2.name, 'outer').select(
# ...     df.name, df2.height).sort(desc("name")).show()


# val df = Seq((1, "John", 2), (2, "Alex", 2), (3, "Jane", 1), (4, "Sarah", 3))
#     .toDF("emp_id", "emp_name", "manager_id")

# val result = df.as("e1")
#     .join(df.as("e2"), col("e1.manager_id") === col("e2.emp_id"), "left")
#     .select(col("e1.emp_name"), col("e2.emp_name").alias("manager_name"))


join1=newrating.alias("M1").join(newrating.alias("M2"),'userId')\
                .filter('M2.movieId > M1.movieId')\
                .select(col("M1.userId"),col("M1.movieId").alias("m1"),col("M1.rating").alias("r1"),col("M2.movieId").alias("m2"),col("M2.rating").alias("r2"))

In [138]:
join1.show()

+------+----+---+----+---+
|userId|  m1| r1|  m2| r2|
+------+----+---+----+---+
|     1|  31|2.5|3671|3.0|
|     1|  31|2.5|2968|1.0|
|     1|  31|2.5|2455|2.5|
|     1|  31|2.5|2294|2.0|
|     1|  31|2.5|2193|2.0|
|     1|  31|2.5|2150|3.0|
|     1|  31|2.5|2105|4.0|
|     1|  31|2.5|1953|4.0|
|     1|  31|2.5|1405|1.0|
|     1|  31|2.5|1371|2.5|
|     1|  31|2.5|1343|2.0|
|     1|  31|2.5|1339|3.5|
|     1|  31|2.5|1293|2.0|
|     1|  31|2.5|1287|2.0|
|     1|  31|2.5|1263|2.0|
|     1|  31|2.5|1172|4.0|
|     1|  31|2.5|1129|2.0|
|     1|  31|2.5|1061|3.0|
|     1|  31|2.5|1029|3.0|
|     1|1029|3.0|3671|3.0|
+------+----+---+----+---+
only showing top 20 rows

In [127]:
# join1.filter()

+------+---+---+----+---+
|userId| m1| r1|  m2| r2|
+------+---+---+----+---+
|     1| 31|2.5|3671|3.0|
|     1| 31|2.5|2968|1.0|
|     1| 31|2.5|2455|2.5|
|     1| 31|2.5|2294|2.0|
|     1| 31|2.5|2193|2.0|
|     1| 31|2.5|2150|3.0|
|     1| 31|2.5|2105|4.0|
|     1| 31|2.5|1953|4.0|
|     1| 31|2.5|1405|1.0|
|     1| 31|2.5|1371|2.5|
|     1| 31|2.5|1343|2.0|
|     1| 31|2.5|1339|3.5|
|     1| 31|2.5|1293|2.0|
|     1| 31|2.5|1287|2.0|
|     1| 31|2.5|1263|2.0|
|     1| 31|2.5|1172|4.0|
|     1| 31|2.5|1129|2.0|
|     1| 31|2.5|1061|3.0|
|     1| 31|2.5|1029|3.0|
|     1| 31|2.5|  31|2.5|
+------+---+---+----+---+
only showing top 20 rows

In [139]:
join1.show()

+------+----+---+----+---+
|userId|  m1| r1|  m2| r2|
+------+----+---+----+---+
|     1|  31|2.5|3671|3.0|
|     1|  31|2.5|2968|1.0|
|     1|  31|2.5|2455|2.5|
|     1|  31|2.5|2294|2.0|
|     1|  31|2.5|2193|2.0|
|     1|  31|2.5|2150|3.0|
|     1|  31|2.5|2105|4.0|
|     1|  31|2.5|1953|4.0|
|     1|  31|2.5|1405|1.0|
|     1|  31|2.5|1371|2.5|
|     1|  31|2.5|1343|2.0|
|     1|  31|2.5|1339|3.5|
|     1|  31|2.5|1293|2.0|
|     1|  31|2.5|1287|2.0|
|     1|  31|2.5|1263|2.0|
|     1|  31|2.5|1172|4.0|
|     1|  31|2.5|1129|2.0|
|     1|  31|2.5|1061|3.0|
|     1|  31|2.5|1029|3.0|
|     1|1029|3.0|3671|3.0|
+------+----+---+----+---+
only showing top 20 rows

In [140]:
join1.groupBy(['m1','m2']).count().show()

24/12/24 16:16:17 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 16:16:17 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 16:16:18 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 16:16:18 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 16:16:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 16:16:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+---+---+-----+
| m1| m2|count|
+---+---+-----+
|  1|  5|   33|
|  1|  8|    2|
|  1| 10|   60|
|  1| 12|   14|
|  1| 13|    6|
|  1| 15|    9|
|  1| 16|   50|
|  1| 20|    6|
|  1| 21|   54|
|  1| 22|   19|
|  1| 23|   10|
|  1| 28|   13|
|  1| 30|    7|
|  1| 37|    1|
|  1| 40|    5|
|  1| 42|    6|
|  1| 44|   20|
|  1| 45|   22|
|  1| 46|    6|
|  1| 49|    1|
+---+---+-----+
only showing top 20 rows

In [130]:
join1.groupBy(['m1','m2']).count().show()

24/12/24 15:57:54 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 15:57:54 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 15:57:57 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 15:57:57 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 15:57:59 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/12/24 15:57:59 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+---+---+-----+
| m1| m2|count|
+---+---+-----+
|  1|  5|   33|
|  1|  8|    2|
|  1| 10|   60|
|  1| 12|   14|
|  1| 13|    6|
|  1| 15|    9|
|  1| 16|   50|
|  1| 20|    6|
|  1| 21|   54|
|  1| 22|   19|
|  1| 23|   10|
|  1| 28|   13|
|  1| 30|    7|
|  1| 37|    1|
|  1| 40|    5|
|  1| 42|    6|
|  1| 44|   20|
|  1| 45|   22|
|  1| 46|    6|
|  1| 49|    1|
+---+---+-----+
only showing top 20 rows

In [113]:
newrating.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- TimeStamp: string (nullable = true)
 |-- Year: integer (nullable = true)

In [126]:
newrating.show()

+------+-------+------+-------------------+----+
|userId|movieId|rating|          TimeStamp|Year|
+------+-------+------+-------------------+----+
|     1|     31|   2.5|2009-12-14 08:22:24|2009|
|     1|   1029|   3.0|2009-12-14 08:22:59|2009|
|     1|   1061|   3.0|2009-12-14 08:23:02|2009|
|     1|   1129|   2.0|2009-12-14 08:23:05|2009|
|     1|   1172|   4.0|2009-12-14 08:23:25|2009|
|     1|   1263|   2.0|2009-12-14 08:22:31|2009|
|     1|   1287|   2.0|2009-12-14 08:23:07|2009|
|     1|   1293|   2.0|2009-12-14 08:22:28|2009|
|     1|   1339|   3.5|2009-12-14 08:22:05|2009|
|     1|   1343|   2.0|2009-12-14 08:22:11|2009|
|     1|   1371|   2.5|2009-12-14 08:22:15|2009|
|     1|   1405|   1.0|2009-12-14 08:23:23|2009|
|     1|   1953|   4.0|2009-12-14 08:23:11|2009|
|     1|   2105|   4.0|2009-12-14 08:22:19|2009|
|     1|   2150|   3.0|2009-12-14 08:23:14|2009|
|     1|   2193|   2.0|2009-12-14 08:23:18|2009|
|     1|   2294|   2.0|2009-12-14 08:21:48|2009|
|     1|   2455|   2.5|2009-12-14 08:21:53|2009|
|     1|   2968|   1.0|2009-12-14 08:23:20|2009|
|     1|   3671|   3.0|2009-12-14 08:21:57|2009|
+------+-------+------+-------------------+----+
only showing top 20 rows